@font-face {
	font-family: 'Ginto';
	src: url('../fonts/GintoNordTrial-Regular.woff') format('woff');
}


body{
font-family: 'Ginto';
margin: 0;
//overflow: hidden;
}

.link--underline{
	color: black;
}

.awardsblock{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto auto;



	&__container{
		grid-column: 1 / span 1;
		grid-row: 1 / span 1;

		padding-left: 1vw;
	}


	&__h {
		display: flex;
		flex-direction: column;
		font-size: 2vw;
	}
}

.carousel{
	//width: 140vw;
	height: 20vw;
    grid-column: 1 / span 2;
	grid-row: 2 / span 1;

	//position:relative;
	//margin:auto;
	
	//background:blue;
	overflow:hidden;

	&__slide{
		width:20vw;
		height:auto;
		position: absolute;
		//margin-left: 5vw;
	  }

	  &__slides {
		  width: 100%;
		  height: 100%;
		//position: relative;
		//left: -20vw;
		margin-left: -20vw;
		overflow: hidden;
		display: flex;
		flex-direction: row;
	  }
	
  }